@{
    ViewBag.Title = "Games";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-center p-3">
            <div class="col-auto">
                <div class="btn-group btn-group-toggle" id="game_tab_buttons" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input id="meatSportsRadio" name="sport-type" type="radio" data-sport-type="meat">Meat Sports
                    </label>
                    <label class="btn btn-secondary active">
                        <input id="ncaaRadio" name="sport-type" type="radio" data-sport-type="ncaa">NCAA
                    </label>
                    <label class="btn btn-secondary">
                        <input id="owlRadio" name="sport-type" type="radio" data-sport-type="owl">OWL Games
                    </label>
                    <label class="btn btn-secondary">
                        <input id="owlStRadio" name="sport-type" type="radio" data-sport-type="owlSt">OWL Standings
                    </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pb-3">
            <div class="col-auto">
                <div id="last_update_time" class="text-secondary"></div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="game_tabs">
                <div data-sport-type="ncaa"></div>
                <div data-sport-type="meat" class="d-none"></div>
                <div data-sport-type="owl" class="d-none"></div>
                <div data-sport-type="owlSt" class="d-none"></div>
            </div>
        </div>
    </div>    
</div>

<script>
    function showTab(sportType) {
        $('#game_tabs div').addClass("d-none")
        $(`#game_tabs div[data-sport-type=${sportType}]`).removeClass("d-none")
    }

    function reloadGames() {
        var offest = new Date().getTimezoneOffset();
        $('#game_tabs div').each((_, ele) => {
            var st = $(ele).data('sport-type')
            $(ele).load('@Url.Action("Games", "Games")' + `?gameType=${st}&offset=${offest}`)
        })        
        refreshLastUpdated()
    }

    function refreshLastUpdated() {
        var currentdate = new Date();
        var hours = currentdate.getHours().toString();
        if (hours.length === 1) {
            hours = "0" + hours;
        }

        var minutes = currentdate.getMinutes().toString();
        if (minutes.length === 1) {
            minutes = "0" + minutes;
        }

        var seconds = currentdate.getSeconds().toString();
        if (seconds.length === 1) {
            seconds = "0" + seconds;
        }

        $('#last_update_time').html(`Last updated at: ${hours}:${minutes}:${seconds}`);
    }

    function registerSwipes() {
        new Hammer(document.getElementById('game_tabs')).on("swipeleft swiperight", ev => {
            var active = $('#game_tab_buttons label.active')
            var next = ev.type === 'swiperight' ? active.prev() : active.next()
            if (next.length) {
                next.button().click()
            }
        });
    }

    $(function () {
        $('#game_tab_buttons input').each((_, ele) => {
            $(ele).change(() => showTab($(ele).data('sport-type')))
        })

        var isMobile = 'ontouchstart' in document.documentElement && /mobi/i.test(navigator.userAgent);
        if (isMobile) {
            registerSwipes()
        }
        
        reloadGames();
        setInterval(reloadGames, 5000)
    });
</script>
