@{
    ViewBag.Title = "Games";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-center p-3">
            <div class="col-auto">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input id="meatSportsRadio" type="radio" name="sportType" value="meat" onchange="showTab('meat')">Meat Sports
                    </label>
                    <label class="btn btn-secondary active">
                        <input id="owlRadio" type="radio" name="sportType" value="owl" onchange="showTab('owl')" checked>OWL Games
                    </label>
                    <label class="btn btn-secondary">
                        <input id="owlStRadio" type="radio" name="sportType" value="owlSt" onchange="showTab('owlSt')">OWL Standings
                    </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pb-3">
            <div class="col-auto">
                <div id="last_update_time" class="text-secondary"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="meat_sports" class="d-none">
                    @Html.Action("Games", "Games", new { gameType = "meat", offset = TimeZoneInfo.Local.GetUtcOffset(DateTime.UtcNow).TotalMinutes })
                </div>
                <div id="owl_games">
                    @Html.Action("Games", "Games", new { gameType = "owl", offset = TimeZoneInfo.Local.GetUtcOffset(DateTime.UtcNow).TotalMinutes })
                </div>
                <div id="owl_standings" class="d-none">
                    @Html.Action("Games", "Games", new { gameType = "owlSt", offset = TimeZoneInfo.Local.GetUtcOffset(DateTime.UtcNow).TotalMinutes })
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
    function showTab(tabName) {
        $("#meat_sports").addClass("d-none")
        $("#owl_games").addClass("d-none")
        $("#owl_standings").addClass("d-none")

        switch (tabName) {
            case 'meat': $("#meat_sports").removeClass("d-none"); break;
            case 'owl': $("#owl_games").removeClass("d-none"); break;
            case 'owlSt': $("#owl_standings").removeClass("d-none"); break;
        }
    }

    $(function () {
        var currentdate = new Date();
        var hours = currentdate.getHours().toString();
        if (hours.length === 1) {
            hours = "0" + hours;
        }

        var minutes = currentdate.getMinutes().toString();
        if (minutes.length === 1) {
            minutes = "0" + minutes;
        }

        var seconds = currentdate.getSeconds().toString();
        if (seconds.length === 1) {
            seconds = "0" + seconds;
        }

        var datetime = "Last updated at: " + hours + ":"
            + minutes + ":"
            + seconds;
        $('#last_update_time').html(datetime);
    });
</script>
