@{
    ViewBag.Title = "Games";
}

<div class="container">

    <div class="row">
        
        <table class="table" id="example">
            <tbody>
            <tr>
                <td>
                    <label class="radio-inline"><input id="nflRadio" type="radio" name="sportType" value="nfl" onchange="loadPartialView()" checked="checked">NFL</label>
                    <label class="radio-inline"><input id="nbaRadio" type="radio" name="sportType" value="nba" onchange="loadPartialView()">NBA</label>
                    <label class="radio-inline"><input id="nhlRadio" type="radio" name="sportType" value="nhl" onchange="loadPartialView()">NHL</label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div id="games_partial"></div>
    </div>
    <div class="row">
        <div id="last_update_time"></div>
    </div>
</div>

<script>
    function loadPartialView() {
        $.ajax({
            url: "@Url.Action("Games", "Games")" + "?gameType=" + getSelectedSportType(),
            type: 'GET', // <-- make a async request by GET
            dataType: 'html', // <-- to expect an html response
            cache: false,
            success: function(result) {
                $('#games_partial').html(result);
                var currentdate = new Date();
                var hours = currentdate.getHours().toString();
                if (hours.length === 1) {
                    hours = "0" + hours;
                }

                var minutes = currentdate.getMinutes().toString();
                if (minutes.length === 1) {
                    minutes = "0" + minutes;
                }

                var seconds = currentdate.getSeconds().toString();
                if (seconds.length === 1) {
                    seconds = "0" + seconds;
                }

                var datetime = "Last updated at: " + hours + ":"
                                + minutes + ":"
                                + seconds;
                $('#last_update_time').html(datetime);
        }
    });
    }

    function getSelectedSportType() {
        var sportType = $("input[name=sportType]:checked").val()
        return sportType;
    }

    $(function () {
        loadPartialView(); // first time
        setInterval(loadPartialView, 5000);
    });
</script>
