table.bracket {
    border-collapse: collapse;
    border: none;
    margin: 10px;
}

.bracket th {
    text-align: center;
    border: 0;
}

.bracket td {
    vertical-align: middle;
    width: 10em;
    margin: 0;
}

    .bracket td.top {
        border-bottom: solid gray 1px;
    }

    .bracket td.bottom {
        border-bottom: solid gray 1px;
        border-right: solid gray 1px;
    }

    .bracket td.gap {
        border-right: solid gray 1px;
    }

    .bracket td span {
        padding-top: 10px;
        padding-left: 5px;
    }

        /* Players */

        /* 16 */

        .bracket td span.s1:after {
            content: 'Megan / Maya';
        }

        .bracket td span.s2:after {
            content: 'Jurek';
        }

        .bracket td span.s3:after {
            content: 'Mirek';
        }

        .bracket td span.s4:after {
            content: 'Urszula';
        }

        .bracket td span.s5:after {
            content: 'Wojtek';
        }

        .bracket td span.s6:after {
            content: 'Chris';
        }

        .bracket td span.s7:after {
            content: 'Lodzia';
        }

        .bracket td span.s8:after {
            content: 'Maria';
        }

        .bracket td span.s9:after {
            content: 'Jasiek';
        }

        .bracket td span.s10:after {
            content: 'Alex';
        }

        .bracket td span.s11:after {
            content: 'Mishmek';
        }

        .bracket td span.s12:after {
            content: 'Klara';
        }

        .bracket td span.s13:after {
            content: 'Dorota';
        }

        .bracket td span.s14:after {
            content: 'Ania';
        }

        .bracket td span.s15:after {
            content: 'Misia';
        }

        .bracket td span.s16:after {
            content: 'Martin / Max';
        }

        /* Eight */

        .bracket td span.e1:after {
            content: 'Jurek';
        }

        .bracket td span.e2:after {
            content: 'Urszula';
        }

        .bracket td span.e3:after {
            content: 'Wojtek';
        }

        .bracket td span.e4:after {
            content: 'Maria';
        }

        .bracket td span.e5:after {
            content: 'Alex';
        }

        .bracket td span.e6:after {
            content: 'Mishmek';
        }

        .bracket td span.e7:after {
            content: 'Ania';
        }

        .bracket td span.e8:after {
            content: 'Martin / Max';
        }

        /* Four */

        .bracket td span.f1:after {
            content: 'Urszula';
        }

        .bracket td span.f2:after {
            content: 'Wojtek';
        }

        .bracket td span.f3:after {
            content: 'Mishmek';
        }

        .bracket td span.f4:after {
            content: 'Ania';
        }

        /* Two */
        .bracket td span.t1:after {
            content: 'Wojtek';
        }

        .bracket td span.t2:after {
            content: 'Mishmek';
        }

        /* Champ */
        .bracket td span.c1:after {
            content: 'Mishmek';
        }
