
@{
    ViewBag.Title = "Egg";
    @Styles.Render("~/Content/egg")
}

<table summary="Tournament Bracket" class="bracket">
    <tr>
        <th>Round of Szesnaście</th>
        <th>Elite Osiem</th>
        <th>Final Cztery</th>
        <th>Champion trzostwa</th>
        <th>Egg Mistrz</th>
    </tr>

    <!-- 1 v 2 -->
    <tr>
        <td class="top"><span class="s1" /></td>
        <td />
        <td />
        <td />
    </tr>

    <tr>
        <td class="gap" />
        <td class="top"><span class="e1" /></td>
        <td />
        <td />
    </tr>

    <tr>
        <td class="bottom"><span class="s2" /></td>
        <td class="gap" />
        <td />
        <td />
    </tr>

    <tr>
        <td />
        <td class="gap" />
        <td class="top"><span class="f1" /></td>
        <td />
    </tr>

    <!-- 3 v 4 -->
    <tr>
        <td class="top"><span class="s3" /></td>
        <td class="gap" />
        <td class="gap" />
        <td />
    </tr>

    <tr>
        <td class="gap" />
        <td class="bottom"><span class="e2" /></td>
        <td class="gap" />
        <td />
    </tr>

    <tr>
        <td class="bottom"><span class="s4" /></td>
        <td />
        <td class="gap" />
        <td />
    </tr>

    <tr>
        <td />
        <td />
        <td class="gap" />
        <td class="top"><span class="t1" /></td>
    </tr>

    <!-- 5 v 6 -->
    <tr>
        <td class="top"><span class="s5" /></td>
        <td />
        <td class="gap" />
        <td class="gap" />
    </tr>

    <tr>
        <td class="gap" />
        <td class="top"><span class="e3" /></td>
        <td class="gap" />
        <td class="gap" />
    </tr>

    <tr>
        <td class="bottom"><span class="s6" /></td>
        <td class="gap" />
        <td class="gap" />
        <td class="gap" />
    </tr>

    <tr>
        <td />
        <td class="gap" />
        <td class="bottom"><span class="f2" /></td>
        <td class="gap" />
    </tr>

    <!-- 7 v 8 -->
    <tr>
        <td class="top"><span class="s7" /></td>
        <td class="gap" />
        <td />
        <td class="gap" />
    </tr>

    <tr>
        <td class="gap" />
        <td class="bottom"><span class="e4" /></td>
        <td />
        <td class="gap" />
    </tr>

    <tr>
        <td class="bottom"><span class="s8" /></td>
        <td />
        <td />
        <td class="gap" />
    </tr>

    <tr>
        <td />
        <td />
        <td />
        <td class="gap" />
        <td class="top"><span class="c1" /></td>
    </tr>

    <!-- 9 v 10 -->
    <tr>
        <td class="top"><span class="s9" /></td>
        <td />
        <td />
        <td class="gap" />
    </tr>

    <tr>
        <td class="gap" />
        <td class="top"><span class="e5" /></td>
        <td />
        <td class="gap" />
    </tr>

    <tr>
        <td class="bottom"><span class="s10" /></td>
        <td class="gap" />
        <td />
        <td class="gap" />
    </tr>

    <tr>
        <td />
        <td class="gap" />
        <td class="top"><span class="f3" /></td>
        <td class="gap" />
    </tr>

    <!-- 11 v 12 -->
    <tr>
        <td class="top"><span class="s11" /></td>
        <td class="gap" />
        <td class="gap" />
        <td class="gap" />
    </tr>
    <tr>
        <td class="gap" />
        <td class="bottom"><span class="e6" /></td>
        <td class="gap" />
        <td class="gap" />
    </tr>
    <tr>
        <td class="bottom"><span class="s12" /></td>
        <td />
        <td class="gap" />
        <td class="gap" />
    </tr>

    <tr>
        <td />
        <td />
        <td class="gap" />
        <td class="bottom"><span class="t2" /></td>
    </tr>

    <!-- 13 v 14 -->
    <tr>
        <td class="top"><span class="s13" /></td>
        <td />
        <td class="gap" />
        <td />
    </tr>

    <tr>
        <td class="gap" />
        <td class="top"><span class="e7" /></td>
        <td class="gap" />
        <td />
    </tr>

    <tr>
        <td class="bottom"><span class="s14" /></td>
        <td class="gap" />
        <td class="gap" />
        <td />
    </tr>

    <tr>
        <td />
        <td class="gap" />
        <td class="bottom"><span class="f4" /></td>
        <td />
    </tr>

    <!-- 15 v 16 -->
    <tr>
        <td class="top"><span class="s15" /></td>
        <td class="gap" />
        <td />
        <td />
    </tr>

    <tr>
        <td class="gap" />
        <td class="bottom"><span class="e8" /></td>
        <td />
        <td />
    </tr>

    <tr>
        <td class="bottom"><span class="s16" /></td>
        <td />
        <td />
        <td />
    </tr>

</table>



